.div-select2 span {
    height: 32px !important;
    width: 200px !important;
    display: block;
}
.div-select2 .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 0px 7px 7px 0px;
}
.div-select2
    .select2-container--default
    .select2-selection--single
    .select2-selection__arrow
    b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: 82px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}
.div-select2
    .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: #444;
    line-height: 30px;
}
:root {
    --toastify-toast-min-height: 50px !important;
    --ms-option-bg-disabled: #FFFFFF;
    --ms-option-color-disabled: #D1D5DB;
}

* {
    scroll-behavior: smooth;
   /*Comenta la línea (o dale el valor 'auto' a scroll behavior )
   para probar la diferencia con y sin scroll suavizado*/
}
/* .overflow-x-auto table tbody tr:hover {
    background-color: rgba(104, 120, 120, 0.1);
}

.overflow-x-auto table tbody td :disabled {
    background-color: rgba(31, 53, 88, 0.2);
} */
.Toastify__toast-theme--light {
    background: var(--toastify-color-light);
    color: var(--toastify-text-color-light);
    font-size: 10pt !important;
    font-weight: bold;
    
}
.multiselect-wrapper {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    min-height: 20px;
    border-radius: 0 10px 0 10px;
    outline: none;
    position: relative;
    width: 100%;
    font-size: 0.75rem;
    line-height: 1rem;
}
.multiselect-wrapper input{
    font-size: 0.75rem;
    line-height: 1rem;
}
.multiselect-wrapper:-moz-read-write:focus {
     background: #eeeeee;
     outline: none;
}
.multiselect-wrapper:read-write:focus {
     background: #eeeeee;
     outline: none;
}
[type='text']:focus{
      --tw-ring-color: transparent;
}
/* OPCIONES DE MULTISELECT-  DEFINIENDO TAMAÑO */
.multiselect-tag {
    background: #243041;
    color: var(--ms-tag-color, #fff);
    font-size: 8pt;
  }

  .div-select2 span {
  height: 32px !important;
  width: 215px !important;
}

/* Distancia el icono del select 2 de display */
.div-select2 .select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-left: 91px;
}

/* //ESTILOS SELECT2 */

div.tabla-modal table thead {
  font-size: 12px;
}

/* ESTILOS MULTISELECT */
.multiselect {
    min-height: 10px;
}

.multiselect-option.is-selected {
    background: var(--ms-option-bg-selected,#001b47);
    color: var(--ms-option-color-selected,#fff);
}

.multiselect-option.is-selected.is-pointed {
    background: var(--ms-option-bg-selected-pointed,#001b47);
    color: var(--ms-option-color-selected-pointed,#fff);
}

.multiselect-option {
    font-size: 9pt;
}